/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Fjalla+One&display=swap'); */

body {
  background-color: #948b89;
  font-family: "Comfortaa", cursive;
  background: rgb(148, 139, 137);
  background: radial-gradient(
    circle,
    rgba(148, 139, 137, 1) 48%,
    rgba(70, 70, 70, 1) 100%
  );
}

/* General class */
.stanWidth {
  max-width: 920px;
}
.titleText {
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
}

.outer2 > div {
  padding: 1em;
  width: 100%;
}
.outer2 > div > h4 {
  font-size: 3rem;
  margin: 0;
}
.outer2 > div > p {
  font-size: 1.2rem;
}

/* first section */
.outer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  text-align: center;
  height: fit-content;
}
.inner3 {
  font-size: 5rem;
  margin: 0;
}
.inner1 {
  font-size: 2rem;
}
.innerp {
  font-size: 1rem;
}
.hellodontE{
width: 212px;
margin: 0 auto;
margin-bottom: -23px;
}

/* second section */

.outer2 {
  display: flex;
  flex-wrap: wrap;
}
.outPrime2 {
  display: flex;
  flex-wrap: wrap;
}
.pill {
  background-color: rosybrown;
  padding: 8px;
  border-radius: 50px;
  margin: 4px;
}

/* third section */
.mailClass {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.iconsContainer > span > a > i {
  font-size: 3.5em;
  line-height: 1.03125em;
  vertical-align: -0.1875em;
  margin: 5px;
}

.iconsContainer > span > a {
  text-decoration: none;
}

/* Icon editing 3rd section */
#linkedinId {
  color: #0072b1;
}
#githubId {
  color: #171515;
}
#facebookId {
  color: #3b5998;
}
#twitterId {
  color: #00acee;
}
#codepenId {
  color: #131417;
}
/* Media */
@media screen and (min-width: 576px) {
  .inner3 {
    font-size: 10rem;
  }
  .inner1 {
    font-size: 4rem;
  }
  .innerp {
    font-size: 1.5rem;
  }

  .hellodontE{
    height: 400px;
    width: 530px;
    margin-left: -60px;
    margin-bottom: -111px;
  }
 

  /* second section */
  .outer2 {
    flex-wrap: nowrap;
  }
  .outer2 > div {
    width: 50%;
  }

  /* third section */
  .mailClass {
    font-size: 2rem;
  }

  .iconsContainer > span > a > i {
    font-size: 5em;
  }
}

@media screen and (min-width: 577px) and (max-width: 847px)  {
  .hellodontE{
    margin: 0 auto;
    margin-bottom: -106px;
    
  }
  

}
